# Eclipse Project Files
.pydevproject
.project

# Compiled python files
*.pyc

#Scraped stuff
scraped/*.db

#Example project
lib/python_phpBB_scraper

#Sublime stuff
*.sublime-*

#Backup
.bak

.DS_store

#Crawl data
crawls/*.*
