# Project Files
.pydevproject
.project
*.sublime-*

# OS X stuff
.DS_Store

# Compiled python files
*.pyc

#Scraped stuff
scraped/*
!scraped/.gitkeep

#Sublime stuff
*.sublime-*

#Backup
.bak

#Crawl data
crawls/*
!crawls/.gitkeep
